@media only screen and (max-width: 700px) {
  form {
    min-width: 700px;
    width: 100%;
    left: 0%;
    right: 0%;
  }
} 

@media only screen and (min-width: 700px) {
  form {
    width: 60%;
    left: 20%;
    right: 20%;
  }
} 